<!DOCTYPE html>
    <html>

        <head>
            <title>Breakdown of Indices</title>
            <script src="https://d3js.org/d3.v5.min.js"></script>
            <script src="../../Chart/Chart.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="../static/css/main.css">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta charset="UTF-8">
        </head>

        <body>
            <h1 id="label" style="color:gray; text-align:center"></h1>
            <div id="plots" class="container">
                <div class="row">
                    <div class="column">
                        <div id="index-scatter">
                            <div id="index-factors"></div>
                        </div>
                    </div>
                    <div class="column-2"></div>
                    <div class="column">
                        <div id="services"></div>
                        <div id="departments"></div>
                        <div id="functionaries"></div>
                    </div>
                </div>
            </div>
        </body>
        <script src="../static/dictionaries.js"></script>
        <script src="../static/form.js"></script>
        <script src="../static/init.js"></script>
        <script src="../static/indices.js"></script>
        <script src="../static/indexfactors.js"></script>
        <script src="../static/zoom.js"></script>
        <script src="../static/services.js"></script>
        <script src="../static/updates.js"></script>
        <script src="../static/depart.js"></script>
        <script src="../static/func.js"></script>

    </html>